# Ignore scripts made by others that I haven't modified (too much)
managers/gang-manager.js
managers/stock-manager.js

# Ignore achievement/exploit scripts
src/achievements/*

# Ignore the test script for obvious reasons; it's not useful
test.js